<ActionBar title="Contact Us" class="action-bar m-b-5">
</ActionBar>
<RadSideDrawer #drawerComponent tkToggleNavButton showOverNavigation="true">
        <ScrollView tkDrawerContent class="sidedrawer-left">
            <StackLayout horizontalAlign="left">
                <drawer-content></drawer-content>
            </StackLayout>
        </ScrollView>
        <WrapLayout tkMainContent class="page p-10 contactInfoBorder">
            <Label text="Contact Information"></Label>
            <StackLayout class="m-l-15 m-t-5">
                <Label text="121, Clear Water Bay Road Clear Water Bay, Kowloon Hong Kong" textWrap="true"></Label>
                <Label text="Call: +85212345678"></Label>
                <Label text="Fax: +85212345678"></Label>
                <Label text="Email: confusion@food.net"></Label>
            </StackLayout>
        </WrapLayout>
</RadSideDrawer>